@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
* {
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20%;
    padding-bottom: 7%;
}

.list {
    background-color: red;
}

button {
    border: 1px solid #f18d6e;
    border-radius: 5px;
    background-color: #f0c7b4;
    color: #f18d6e;
    text-align: center;
    padding: 5px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked+label {
    text-decoration: line-through;
    color: grey;
}